{% extends "base.html" %}

{% block title %}Add Movie{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <form class="col-lg-4 shadow p-5 rounded" method="post">
            <h3 class="mb-3">Add Movie</h3>
            <div class="form-floating mb-3">
                <input type="text" name="name" class="form-control" placeholder=".">
                <label>Movie Name</label>
            </div>
            <div class="form-floating mb-3">
                <textarea name="description" style="height: 100px;" class="form-control" placeholder="."></textarea>
                <label>Description</label>
            </div>
            <button class="btn btn-dark" type="submit">Add</button>
        </form>
    </div>
{% endblock %}